# Dependencies
node_modules/
**/node_modules/

# Build files
dist/
build/
client/dist/

# Environment files
.env
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vercel / Render
.vercel
.render

# IDE
.vscode/
.idea/